body {
background-color: rgb(104, 127, 155);
color: white;
font-size: 50px;
background-image: url(https://media.istockphoto.com/photos/old-school-chalkboard-picture-id589091614?b=1&k=20&m=589091614&s=170667a&w=0&h=PUYwwaVw2abMKXmAaDGC8msRBrIvDPl7PCvJaYQmEWo=);
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}
h1{
color: white;
font-size: larger;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;

}

-webkit-text-stroke-width: 3px;
-webkit-text-stroke-color: rgb(15, 102, 0);